.card-login {
    width: 700px;
    height: fit-content;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F6F3F3;
    margin-top: 20%;
}

.container-fluid.login {
    background-image: url("/public/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-label-login.username {
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    display: block;
    text-align: center;
}

.form-label-login.password {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.form-control-login.password {
    margin-bottom: 100px;
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-login.username {
    margin-bottom: 30px;
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.h1-login {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.btn-login {
    width: 250px;
    height: 60px;
    border: 1px solid #5d6976;
    box-shadow: 0px 4px 4px rgba(118, 118, 118, 0.25);
    background-color: #798897;  
    color: white;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 20px;
}

.btn-login:hover {
    background-color: #d84345;
    color: white;
    transition: 0.4s;
}

.navigation-link-register {
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}