.fa-solid.fa-pen-to-square.add {
    font-size: 25px;
    color: black;
}

.fa-solid.fa-trash-can.add {
    font-size: 25px;
    color: black;
}

.fa-solid.fa-circle-info.add {
    font-size: 25px;
    color: black;
}